@import "tailwindcss";


/* Custom CSS in src/index.css */

.bg-abstract-motion {
    background-color: #111827;
    background-image: 
        radial-gradient(circle at 10% 20%, rgba(255, 255, 255, 0.3) 1px, transparent 1.5px), 
        radial-gradient(circle at 90% 80%, rgba(251, 191, 36, 0.35) 1px, transparent 1.5px),
        radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.2) 1px, transparent 1.5px);
    
    background-size: 300px 300px; 
    
    position: relative; 
    z-index: 1; 
}
/* Your custom CSS (like .bg-abstract-motion) goes below these three lines */